.title{
   font-family: monospace;
   text-shadow: 6px 4px 5px blue;
   font-weight: bold;
   border: 4px outset #00A4BD;   
   width:auto;
   color: #2D3E50;
   background-color: #698aab;
   text-align: center;
}
.load{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 200px;
   max-width: 500px;
   border: 2px solid #000;
   padding: 100px;
   font-size: 20px;
   color: brown;
}