.cat_icon{
  display: flex;
  align-items: center;

}
.material-symbols-outlined {
 
  
  text-decoration: none;
}
.pulse {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    font-variation-settings: 'wght' 200;
  }
  50% {
    font-variation-settings: 'wght' 700;
  }
  100% {
    font-variation-settings: 'wght' 200;
  }
}