.box{
    margin: 10px;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    background-color: antiquewhite;

} 
