*,
*::after, 
*::before{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    font-size: 1.5rem;
}
.branch{
    text-decoration: none;
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.phone{
    text-decoration: none;
    color: yellow;
    font-family: 'Poppins', sans-serif;
}
.tv{
    text-decoration: none;
    color: yellow;
    font-family: 'Poppins', sans-serif;
}
.notebook{
    text-decoration: none;
    color: yellow;
    font-family: 'Poppins', sans-serif;
}
